/* All */


/* Body */

#town-select, #area-select{
    float: left;
}

/* Footer */
footer {
    position: static;
    /*top: 100px;*/
    background-color: #333;
    color: white;
    padding-left: 2%;
}

.footer-copyright{
    background-color: #333;
    color: white;
}